#header{
  color:white;
  font-size:23.5px;
  padding-left:2rem;
}
#footer{
  bottom:0;
  background-color:grey;
}
#footer:hover::after{
  content: "Cheers ! You hovered over my footer"
}
.modal-dialog{
    width:90%;
}
.ii{
    display:inline-block;
    width:45%;

}
